.showgrid{background:#0000ff url(https://s3.amazonaws.com/webdevassets/1000pxgrid.png) repeat 0 0 !important;}
.assistive-text{position:absolute !important;clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px);}
